@import url("https://fonts.googleapis.com/css2?family=Varela+Round%3Aital%2Cwght%400%2C400&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-S_dTw-gocLiI: var(--antd-colorFillQuaternary);
  --plasmic-token-system-fill-quaternary: var(--token-S_dTw-gocLiI);
  --token-ZOmkD6ssnoz3: var(--antd-colorTextSecondary);
  --plasmic-token-system-text-secondary: var(--token-ZOmkD6ssnoz3);
  --token-GxYiIJdVRPNx: var(--antd-colorTextTertiary);
  --plasmic-token-system-text-tertiary: var(--token-GxYiIJdVRPNx);
  --token-vR-CgnZozNl0: var(--antd-fontSize);
  --plasmic-token-system-m: var(--token-vR-CgnZozNl0);
  --token-x7g73UuugGyX: var(--antd-fontSizeLG);
  --plasmic-token-system-lg: var(--token-x7g73UuugGyX);
  --token-kl3jalXJQ6Am: #e6f4ff80;
  --plasmic-token-system-bg-layout: var(--token-kl3jalXJQ6Am);
  --token-17a8JOePpw11: var(--antd-fontSizeXL);
  --plasmic-token-system-xl: var(--token-17a8JOePpw11);
  --token--aKf4fSWoKp-: var(--antd-colorFillTertiary);
  --plasmic-token-system-fill-tertiary: var(--token--aKf4fSWoKp-);
  --token-xr1_rqds5vP9: var(--antd-colorBorderSecondary);
  --plasmic-token-system-border-secondary: var(--token-xr1_rqds5vP9);
  --token-SV-KAFnbpRvR: var(--antd-colorBgContainer);
  --plasmic-token-system-bg-container: var(--token-SV-KAFnbpRvR);
  --token-TkwmSi2cJIfg: var(--antd-fontSizeSM);
  --plasmic-token-system-sm: var(--token-TkwmSi2cJIfg);
  --token-81cKn0ZgCDwD: var(--antd-colorText);
  --plasmic-token-system-text: var(--token-81cKn0ZgCDwD);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-bDUsIbhP1HeC_font-family: "Varela Round", sans-serif;
  --mixin-bDUsIbhP1HeC_font-size: var(--token-TkwmSi2cJIfg);
  --mixin-bDUsIbhP1HeC_font-weight: 400;
  --mixin-bDUsIbhP1HeC_font-style: normal;
  --mixin-bDUsIbhP1HeC_color: var(--token-81cKn0ZgCDwD);
  --mixin-bDUsIbhP1HeC_text-align: left;
  --mixin-bDUsIbhP1HeC_text-transform: none;
  --mixin-bDUsIbhP1HeC_line-height: 1.5;
  --mixin-bDUsIbhP1HeC_letter-spacing: normal;
  --mixin-bDUsIbhP1HeC_white-space: pre-wrap;
  --mixin-bDUsIbhP1HeC_user-select: text;
  --mixin-bDUsIbhP1HeC_text-decoration-line: none;
  --mixin-bDUsIbhP1HeC_text-overflow: clip;
  --mixin-2BUCr0JOhkaw_color: #000000;
  --mixin-2BUCr0JOhkaw_font-weight: 500;
  --mixin-2BUCr0JOhkaw_font-size: 32px;
  --mixin-2BUCr0JOhkaw_line-height: 1;
  --mixin-2BUCr0JOhkaw_letter-spacing: -1px;
  --mixin-2BUCr0JOhkaw_white-space: pre-wrap;
  --mixin-IqTq8GcgKHfB_color: #000000;
  --mixin-IqTq8GcgKHfB_font-size: 48px;
  --mixin-IqTq8GcgKHfB_font-weight: 500;
  --mixin-IqTq8GcgKHfB_letter-spacing: -0.5px;
  --mixin-IqTq8GcgKHfB_line-height: 1.1;
  --mixin-IqTq8GcgKHfB_white-space: pre-wrap;
  --mixin-qKcHa8LXlhq2_color: #0070f3;
  --mixin-qKcHa8LXlhq2_white-space: pre-wrap;
  --mixin-R1hc5hKad74e_color: #000000;
  --mixin-R1hc5hKad74e_font-size: 32px;
  --mixin-R1hc5hKad74e_font-weight: 500;
  --mixin-R1hc5hKad74e_line-height: 1.2;
  --mixin-R1hc5hKad74e_white-space: pre-wrap;
  --mixin-vOMiL_sR212O_color: #000000;
  --mixin-vOMiL_sR212O_font-size: 24px;
  --mixin-vOMiL_sR212O_font-weight: 500;
  --mixin-vOMiL_sR212O_letter-spacing: -0.5px;
  --mixin-vOMiL_sR212O_line-height: 1.3;
  --mixin-vOMiL_sR212O_white-space: pre-wrap;
  --mixin-agmnKei_2qPz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-agmnKei_2qPz_border-bottom-color: #dddddd;
  --mixin-agmnKei_2qPz_border-bottom-style: solid;
  --mixin-agmnKei_2qPz_border-bottom-width: 1px;
  --mixin-agmnKei_2qPz_border-left-color: #dddddd;
  --mixin-agmnKei_2qPz_border-left-style: solid;
  --mixin-agmnKei_2qPz_border-left-width: 1px;
  --mixin-agmnKei_2qPz_border-right-color: #dddddd;
  --mixin-agmnKei_2qPz_border-right-style: solid;
  --mixin-agmnKei_2qPz_border-right-width: 1px;
  --mixin-agmnKei_2qPz_border-top-color: #dddddd;
  --mixin-agmnKei_2qPz_border-top-style: solid;
  --mixin-agmnKei_2qPz_border-top-width: 1px;
  --mixin-agmnKei_2qPz_border-bottom-left-radius: 3px;
  --mixin-agmnKei_2qPz_border-bottom-right-radius: 3px;
  --mixin-agmnKei_2qPz_border-top-left-radius: 3px;
  --mixin-agmnKei_2qPz_border-top-right-radius: 3px;
  --mixin-agmnKei_2qPz_font-family: "Inconsolata";
  --mixin-agmnKei_2qPz_padding-bottom: 1px;
  --mixin-agmnKei_2qPz_padding-left: 4px;
  --mixin-agmnKei_2qPz_padding-right: 4px;
  --mixin-agmnKei_2qPz_padding-top: 1px;
  --mixin-agmnKei_2qPz_white-space: pre-wrap;
  --mixin-Nltgm7YWxTcC_border-left-color: #dddddd;
  --mixin-Nltgm7YWxTcC_border-left-style: solid;
  --mixin-Nltgm7YWxTcC_border-left-width: 3px;
  --mixin-Nltgm7YWxTcC_color: #888888;
  --mixin-Nltgm7YWxTcC_padding-left: 10px;
  --mixin-Nltgm7YWxTcC_white-space: pre-wrap;
  --mixin-GdPLRlGMpWIk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-GdPLRlGMpWIk_border-bottom-color: #dddddd;
  --mixin-GdPLRlGMpWIk_border-bottom-style: solid;
  --mixin-GdPLRlGMpWIk_border-bottom-width: 1px;
  --mixin-GdPLRlGMpWIk_border-left-color: #dddddd;
  --mixin-GdPLRlGMpWIk_border-left-style: solid;
  --mixin-GdPLRlGMpWIk_border-left-width: 1px;
  --mixin-GdPLRlGMpWIk_border-right-color: #dddddd;
  --mixin-GdPLRlGMpWIk_border-right-style: solid;
  --mixin-GdPLRlGMpWIk_border-right-width: 1px;
  --mixin-GdPLRlGMpWIk_border-top-color: #dddddd;
  --mixin-GdPLRlGMpWIk_border-top-style: solid;
  --mixin-GdPLRlGMpWIk_border-top-width: 1px;
  --mixin-GdPLRlGMpWIk_border-bottom-left-radius: 3px;
  --mixin-GdPLRlGMpWIk_border-bottom-right-radius: 3px;
  --mixin-GdPLRlGMpWIk_border-top-left-radius: 3px;
  --mixin-GdPLRlGMpWIk_border-top-right-radius: 3px;
  --mixin-GdPLRlGMpWIk_font-family: "Inconsolata";
  --mixin-GdPLRlGMpWIk_padding-bottom: 3px;
  --mixin-GdPLRlGMpWIk_padding-left: 6px;
  --mixin-GdPLRlGMpWIk_padding-right: 6px;
  --mixin-GdPLRlGMpWIk_padding-top: 3px;
  --mixin-GdPLRlGMpWIk_white-space: pre-wrap;
  --mixin-Y3_IQQe1q3e4_display: flex;
  --mixin-Y3_IQQe1q3e4_flex-direction: column;
  --mixin-Y3_IQQe1q3e4_align-items: stretch;
  --mixin-Y3_IQQe1q3e4_justify-content: flex-start;
  --mixin-Y3_IQQe1q3e4_list-style-position: outside;
  --mixin-Y3_IQQe1q3e4_padding-left: 40px;
  --mixin-Y3_IQQe1q3e4_position: relative;
  --mixin-Y3_IQQe1q3e4_list-style-type: disc;
  --mixin-Y3_IQQe1q3e4_white-space: pre-wrap;
  --mixin--i21gREjnbdR_display: flex;
  --mixin--i21gREjnbdR_flex-direction: column;
  --mixin--i21gREjnbdR_align-items: stretch;
  --mixin--i21gREjnbdR_justify-content: flex-start;
  --mixin--i21gREjnbdR_list-style-position: outside;
  --mixin--i21gREjnbdR_padding-left: 40px;
  --mixin--i21gREjnbdR_position: relative;
  --mixin--i21gREjnbdR_list-style-type: decimal;
  --mixin--i21gREjnbdR_white-space: pre-wrap;
  --mixin-0dZsemoy9hlM_color: #000000;
  --mixin-0dZsemoy9hlM_font-size: 20px;
  --mixin-0dZsemoy9hlM_font-weight: 500;
  --mixin-0dZsemoy9hlM_letter-spacing: -0.3px;
  --mixin-0dZsemoy9hlM_line-height: 1.5;
  --mixin-0dZsemoy9hlM_white-space: pre-wrap;
  --mixin-BGfXra6U9MdG_color: #000000;
  --mixin-BGfXra6U9MdG_font-size: 16px;
  --mixin-BGfXra6U9MdG_font-weight: 500;
  --mixin-BGfXra6U9MdG_line-height: 1.5;
  --mixin-BGfXra6U9MdG_white-space: pre-wrap;
  --mixin-ANxwiQMPeCZ7_color: #3291ff;
  --mixin-ANxwiQMPeCZ7_white-space: pre-wrap;
  --mixin-I--HHq97oo9D_white-space: pre-wrap;
  --mixin-kaRgm3QjpLE8_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-qKtbpORQH32P_white-space: pre-wrap;
  --plasmic-mixin-card_white-space: var(--mixin-qKtbpORQH32P_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-bDUsIbhP1HeC_font-family);
  font-size: var(--mixin-bDUsIbhP1HeC_font-size);
  font-weight: var(--mixin-bDUsIbhP1HeC_font-weight);
  font-style: var(--mixin-bDUsIbhP1HeC_font-style);
  color: var(--mixin-bDUsIbhP1HeC_color);
  text-align: var(--mixin-bDUsIbhP1HeC_text-align);
  text-transform: var(--mixin-bDUsIbhP1HeC_text-transform);
  line-height: var(--mixin-bDUsIbhP1HeC_line-height);
  letter-spacing: var(--mixin-bDUsIbhP1HeC_letter-spacing);
  white-space: var(--mixin-bDUsIbhP1HeC_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-2BUCr0JOhkaw_color);
  font-weight: var(--mixin-2BUCr0JOhkaw_font-weight);
  font-size: var(--mixin-2BUCr0JOhkaw_font-size);
  line-height: var(--mixin-2BUCr0JOhkaw_line-height);
  letter-spacing: var(--mixin-2BUCr0JOhkaw_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-IqTq8GcgKHfB_color);
  font-size: var(--mixin-IqTq8GcgKHfB_font-size);
  font-weight: var(--mixin-IqTq8GcgKHfB_font-weight);
  letter-spacing: var(--mixin-IqTq8GcgKHfB_letter-spacing);
  line-height: var(--mixin-IqTq8GcgKHfB_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-qKcHa8LXlhq2_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-R1hc5hKad74e_color);
  font-size: var(--mixin-R1hc5hKad74e_font-size);
  font-weight: var(--mixin-R1hc5hKad74e_font-weight);
  line-height: var(--mixin-R1hc5hKad74e_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-vOMiL_sR212O_color);
  font-size: var(--mixin-vOMiL_sR212O_font-size);
  font-weight: var(--mixin-vOMiL_sR212O_font-weight);
  letter-spacing: var(--mixin-vOMiL_sR212O_letter-spacing);
  line-height: var(--mixin-vOMiL_sR212O_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-agmnKei_2qPz_font-family);
  border-radius: var(--mixin-agmnKei_2qPz_border-top-left-radius)
    var(--mixin-agmnKei_2qPz_border-top-right-radius)
    var(--mixin-agmnKei_2qPz_border-bottom-right-radius)
    var(--mixin-agmnKei_2qPz_border-bottom-left-radius);
  padding: var(--mixin-agmnKei_2qPz_padding-top)
    var(--mixin-agmnKei_2qPz_padding-right)
    var(--mixin-agmnKei_2qPz_padding-bottom)
    var(--mixin-agmnKei_2qPz_padding-left);
  border-top: var(--mixin-agmnKei_2qPz_border-top-width)
    var(--mixin-agmnKei_2qPz_border-top-style)
    var(--mixin-agmnKei_2qPz_border-top-color);
  border-right: var(--mixin-agmnKei_2qPz_border-right-width)
    var(--mixin-agmnKei_2qPz_border-right-style)
    var(--mixin-agmnKei_2qPz_border-right-color);
  border-bottom: var(--mixin-agmnKei_2qPz_border-bottom-width)
    var(--mixin-agmnKei_2qPz_border-bottom-style)
    var(--mixin-agmnKei_2qPz_border-bottom-color);
  border-left: var(--mixin-agmnKei_2qPz_border-left-width)
    var(--mixin-agmnKei_2qPz_border-left-style)
    var(--mixin-agmnKei_2qPz_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-Nltgm7YWxTcC_color);
  padding-left: var(--mixin-Nltgm7YWxTcC_padding-left);
  border-left: var(--mixin-Nltgm7YWxTcC_border-left-width)
    var(--mixin-Nltgm7YWxTcC_border-left-style)
    var(--mixin-Nltgm7YWxTcC_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-GdPLRlGMpWIk_font-family);
  border-radius: var(--mixin-GdPLRlGMpWIk_border-top-left-radius)
    var(--mixin-GdPLRlGMpWIk_border-top-right-radius)
    var(--mixin-GdPLRlGMpWIk_border-bottom-right-radius)
    var(--mixin-GdPLRlGMpWIk_border-bottom-left-radius);
  padding: var(--mixin-GdPLRlGMpWIk_padding-top)
    var(--mixin-GdPLRlGMpWIk_padding-right)
    var(--mixin-GdPLRlGMpWIk_padding-bottom)
    var(--mixin-GdPLRlGMpWIk_padding-left);
  border-top: var(--mixin-GdPLRlGMpWIk_border-top-width)
    var(--mixin-GdPLRlGMpWIk_border-top-style)
    var(--mixin-GdPLRlGMpWIk_border-top-color);
  border-right: var(--mixin-GdPLRlGMpWIk_border-right-width)
    var(--mixin-GdPLRlGMpWIk_border-right-style)
    var(--mixin-GdPLRlGMpWIk_border-right-color);
  border-bottom: var(--mixin-GdPLRlGMpWIk_border-bottom-width)
    var(--mixin-GdPLRlGMpWIk_border-bottom-style)
    var(--mixin-GdPLRlGMpWIk_border-bottom-color);
  border-left: var(--mixin-GdPLRlGMpWIk_border-left-width)
    var(--mixin-GdPLRlGMpWIk_border-left-style)
    var(--mixin-GdPLRlGMpWIk_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-Y3_IQQe1q3e4_display);
  flex-direction: var(--mixin-Y3_IQQe1q3e4_flex-direction);
  align-items: var(--mixin-Y3_IQQe1q3e4_align-items);
  justify-content: var(--mixin-Y3_IQQe1q3e4_justify-content);
  list-style-position: var(--mixin-Y3_IQQe1q3e4_list-style-position);
  padding-left: var(--mixin-Y3_IQQe1q3e4_padding-left);
  position: var(--mixin-Y3_IQQe1q3e4_position);
  list-style-type: var(--mixin-Y3_IQQe1q3e4_list-style-type);
  flex-column-gap: var(--mixin-Y3_IQQe1q3e4_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--i21gREjnbdR_display);
  flex-direction: var(--mixin--i21gREjnbdR_flex-direction);
  align-items: var(--mixin--i21gREjnbdR_align-items);
  justify-content: var(--mixin--i21gREjnbdR_justify-content);
  list-style-position: var(--mixin--i21gREjnbdR_list-style-position);
  padding-left: var(--mixin--i21gREjnbdR_padding-left);
  position: var(--mixin--i21gREjnbdR_position);
  list-style-type: var(--mixin--i21gREjnbdR_list-style-type);
  flex-column-gap: var(--mixin--i21gREjnbdR_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-0dZsemoy9hlM_color);
  font-size: var(--mixin-0dZsemoy9hlM_font-size);
  font-weight: var(--mixin-0dZsemoy9hlM_font-weight);
  letter-spacing: var(--mixin-0dZsemoy9hlM_letter-spacing);
  line-height: var(--mixin-0dZsemoy9hlM_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-BGfXra6U9MdG_color);
  font-size: var(--mixin-BGfXra6U9MdG_font-size);
  font-weight: var(--mixin-BGfXra6U9MdG_font-weight);
  line-height: var(--mixin-BGfXra6U9MdG_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ANxwiQMPeCZ7_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
